.ContentWrapper {
	width: 1000px;
	background: #164f9f;
}

.titleWrapper {
	float: top;
	WIDTH: 600px; 
	HEIGHT: 75px;
}

.ContentHeader {
	float: top;
	width: 100%;
}

.columnOne {
	float: left;
	width: 33%;
	height: 250px;
	margin: 2px 2px 2px 2px;
	border: 1px solid red;
}

.columnTwo {
	float: left;
	width: 33%;
	height: 250px;
	margin: 2px 2px 2px 2px;
	border: 1px solid green;
}

.columnThree {
	width: *;
	height: 250px;
	margin: 2px 2px 2px 2px;
	border: 1px solid blue;
}

.ColumnBottom {
	margin-top: 100%;
	border: 1px solid lime;
}

.ColumnBottom3 {
	margin-top: 100%;
	border: 1px solid lime;
}

.columnOne1 {
	float: left;
	width: 33%;
	height: 500px;
	margin: 2px 2px 2px 2px;
	border: 1px solid red;
}

.columnTwo1 {
	float: left;
	width: 33%;
	height: 500px;
	margin: 2px 2px 2px 2px;
	border: 1px solid green;
}

.columnThree1 {
	width: *;
	height: 500px;
	margin: 2px 2px 2px 2px;
	border: 1px solid blue;
}

.twoColumnLeft {
	float: left;
	width: 200;
	height: 600px;
	margin: 2px 2px 2px 2px;
}

.twoColumnRight {
	width: *;
	height: 800px;
	margin: 2px 2px 2px 2px;
}

.codeSmaller {
	font-family: courier;
	font-size: xx-small;
	color: black;
	border: solid 2px #0000cc;
	background-color: #ffffcc;
	overflow: auto;
	max-height: 200px;
}

p {
	text-align: justify;
	margin-left: 5px;
	margin-right: 5px;
}

.primaryContentContainerHeader {
	background-color: black;
}
