#navigation a {
	color: #000;
	background: #ffa20c url(app/flash/images/roundedTabs/left-tab.gif) left top no-repeat;
	text-decoration: none;
	padding-left: 10px
}

#navigation a span {
	background: url(app/flash/images/roundedTabs/right-tab.gif) right top no-repeat;
	padding-right: 10px
}

#navigation a, #navigation a span {
	display: block;
	float: left
}

/* Hide from IE5-Mac \*/
#navigation a, #navigation a span {
	float: none
}
/* End hide */

#navigation a:hover {
	color: #fff;
	background: #781351 url(app/flash/images/roundedTabs/left-tab-hover.gif) left top no-repeat;
	padding-left: 10px
}

#navigation #tabSelected {
	color: #fff;
	background: #781351 url(app/flash/images/roundedTabs/left-tab-hover.gif) left top no-repeat;
	padding-left: 10px
}

#navigation a:hover span {
	background: url(app/flash/images/roundedTabs/right-tab-hover.gif) right top no-repeat;
	padding-right: 10px
}

#navigation a #spanTabSelected {
	background: url(app/flash/images/roundedTabs/right-tab-hover.gif) right top no-repeat;
	padding-right: 10px
}

#navigation ul {
	list-style: none outside none;
	list-style-image: none;
	padding: 0;
	margin: 0;
}

#navigation li {
	float: left;
	margin:0 0 0 -20;
}

